.guest_container{
    width: 100%;
    // height: 10rem;
    // height: 100%;

    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
    padding: 1.3rem 1.5rem;
    // padding-top:200px;
    background-image: url(../../Images/2024//footerBG.jpg);
    // background: black;
    // background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    // padding-bottom: 2rem;
    .guestTitel{
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2px;
              color: white;
              margin: 2% 0;
              text-align: center;
              text-shadow: 0 0 3px #EE5312,
              0 0 20px #EE5312,
              0 0 40px #EE5312,
              0 0 80px #EE5312,
              0 0 120px #EE5312;
    }
    .guest_container1{
        width: 100%;
        // height: 100%;
        display: flex;
       
        flex-direction: column;

    }
    .guest_container2{
        width: 100%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        
    }
    

}

@media screen and (min-width: 769px) {

    .guest_container{
        width: 100%;
        // height: 10rem;
        // height: 100%;
    
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        padding: 1.3rem 1.5rem;
        // padding-top:200px;
        background-image: url(../../Images/2024//footerBG.jpg);
        // background: black;
        // background: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        // padding-bottom: 2rem;
        .guestTitel{
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
                  color: white;
                  margin: 2% 0;
                  text-align: center;
            
                //   text-shadow: 0 0 3px #EE5312,
                //   0 0 20px #EE5312,
                //   0 0 40px #EE5312,
                //   0 0 80px #EE5312,
                //   0 0 120px #EE5312;
        }

        .guest_main_content{
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .guest_container1{
                width: 100%;
                // height: 100%;
                display: flex;
                gap: 1rem;
                flex-direction: row;
               
                // flex-direction: column;
        
            }
            .guest_container2{
                width: 100%;
                // height: 100%;
                display: flex;
                gap: 1rem;
            
                flex-direction: row;
                
            }

        }
        
    
        
    
    }

}