@import "../../Styles/constant";
@import "../../Styles/variables";

.slider_wrapper {
  width: 100%;
  .slider_container {
    margin-top: 5rem;
    background:whitesmoke;
    width: 100%;
    padding: 3rem $md-gap;
    @include flexColAlignCenter;
    // height: 100px;
    // background: black;
    .slider_header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      color: $secondary-color;
      padding-bottom: 5px;

      .slider_header_text {
        // font-size: 45px;
        // font-weight: 700;
        // color: $secondary-color;
        // span {
        //   color: $primary-color;
        // }
        // @include Title;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #EE5312;
        // text-transform: uppercase;
        text-shadow: 0 0 2px #EE5312,
      }
      .slider_header_des {
        color: $secondary-color;
        opacity: 0.8;
        word-spacing: 1px;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 10px;
        margin: 0 10px;
      }
    }
    .slider_main_content {
      // overflow: hidden;
      width: 100%;
      .slider_img {
        padding: 30px;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .slider_wrapper {
    .slider_container {
      margin-top: 0rem;
      padding: 1rem 0px;
      .slider_header {
        // gap: 17px;
        .slider_header_text{
          
          .slider_header_text {
            @include TitleResponsive;
            color: #EE5312;
              // text-transform: upp;
        text-shadow: 0 0 3px #EE5312,
            
          }

        }

     
      }
      .slider_main_content {
        overflow: hidden;
        width: 100%;
        .slider_img {
          padding: 0;
        }
      }
    }
  }
}
